### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Importing data

In [2]:
path = r'/Users/jennyfevik/Desktop/IC Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared', 'orders_products_added_columns.pkl'))

### Aggregating Data from the Exercise

In [4]:
# Creating and aggregating max order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [5]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Regular busy days,Average orders,10.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Least busy days,Average orders,10.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Least busy days,Most orders,10.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Average orders,10.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Most orders,10.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Regular busy days,Average orders,10.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Least busy,Least busy days,Average orders,10.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196,2.0,0.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196,6.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Regular busy days,Most orders,22.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Regular busy days,Most orders,22.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,196,1.0,1.0,both,Soda,77.0,7.0,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22.0

### Step 2

In [6]:
# Aggregating mean via grouped by
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

The mean of a subset will always differ from that of an entire set, The entire set has all the data from all the departments, which means more data to factor in.

### Step 4

In [7]:
# Setting loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order']>40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <=40) & (ords_prods_merge['max_order'] >10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <=10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

### Step 5

In [11]:
# Basic statistics for loyalty_glag groups
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Step 6

In [12]:
# Creating mean price column
ords_prods_merge['mean_price'] = ords_prods_merge.groupby('user_id').agg({'prices': ['mean']})

In [13]:
# creating spending flag
ords_prods_merge.loc[ords_prods_merge['mean_price'] <10, 'user_spending'] = 'Low spender'

In [14]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'user_spending'] = 'High spender'

In [15]:
ords_prods_merge['user_spending'].value_counts()

Low spender     200852
High spender      5357
Name: user_spending, dtype: int64

### Step 7

In [16]:
# creating the median for days since prior order
ords_prods_merge['median_days_since_order'] = ords_prods_merge.groupby('user_id').agg({'days_since_prior_order' :['median']})

In [17]:
# creating user frequency flags
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] > 20, 'user_frequency'] = 'Non-frequent'

In [18]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_order'] > 10) & (ords_prods_merge['median_days_since_order'] <= 20), 'user_frequency'] = 'Regular customer'

In [19]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] <= 10, 'user_frequency'] = 'Frequent customer'

In [20]:
ords_prods_merge['user_frequency'].value_counts()

Frequent customer    86591
Regular customer     60002
Non-frequent         59616
Name: user_frequency, dtype: int64

In [21]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day,max_order,loyalty_flag,mean_price,user_spending,median_days_since_order,user_frequency
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,both,...,Mid-range product,Regular busy,Regular busy days,Average orders,10.0,New customer,NaN,NaN,NaN,NaN
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,both,...,Mid-range product,Regular busy,Least busy days,Average orders,10.0,New customer,6.367797,Low spender,20.5,Non-frequent
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,both,...,Mid-range product,Regular busy,Least busy days,Most orders,10.0,New customer,7.515897,Low spender,13.0,Regular customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,both,...,Mid-range product,Least busy,Least busy days,Average orders,10.0,New customer,8.197727,Low spender,10.0,Frequent customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,both,...,Mid-range product,Least busy,Least busy days,Most orders,10.0,New customer,8.205556,Low spender,20.0,Regular customer

### Fixing outliers in 'prices

In [22]:
ords_prods_merge.loc[ords_prods_merge['prices']>100]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day,max_order,loyalty_flag,mean_price,user_spending,median_days_since_order,user_frequency
10030345,912404.0,17.0,12.0,2.0,14.0,5.0,21553,5.0,0.0,both,...,High-range product,Regular busy,Regular busy days,Most orders,40.0,Regular customer,NaN,NaN,NaN,NaN
10030346,603376.0,17.0,22.0,6.0,16.0,4.0,21553,3.0,1.0,both,...,High-range product,Regular busy,Regular busy days,Most orders,40.0,Regular customer,NaN,NaN,NaN,NaN
10030347,3264360.0,135.0,2.0,2.0,21.0,13.0,21553,6.0,0.0,both,...,High-range product,Regular busy,Regular busy days,Average orders,4.0,New customer,NaN,NaN,NaN,NaN
10030348,892534.0,135.0,3.0,0.0,8.0,12.0,21553,3.0,1.0,both,...,High-range product,Busiest day,Busiest days,Average orders,4.0,New customer,NaN,NaN,NaN,NaN
10030349,229704.0,342.0,8.0,1.0,19.0,30.0,21553,9.0,0.0,both,...,High-range product,Regular busy,Busiest days,Average orders,16.0,Regular customer,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29194168,2249946.0,204099.0,29.0,0.0,8.0,4.0,33664,1.0,0.0,both,...,High-range product,Busiest day,Busiest days,Average orders,39.0,Regular customer,NaN,NaN,NaN,NaN
29194169,2363282.0,204099.0,31.0,0.0,9.0,2.0,33664,1.0,1.0,both,...,High-range product,Busiest day,Busiest days,Most orders,39.0,Regular customer,NaN,NaN,NaN,NaN
29194170,3181945.0,204395.0,13.0,3.0,15.0,8.0,33664,25.0,0.0,both,...,High-range product,Regular busy,Least busy days,Most orders,15.0,Regular customer,NaN,NaN,NaN,NaN
29194171,2486215.0,205227.0,7.0,3.0,20.0,4.0,33664,8.0,0.0,both,...,High-range product,Regular busy,Least busy days,Average orders,12.0,Regular customer,NaN,NaN,NaN,NaN
29194172,2232716.0,205227.0,10.0,0.0,11.0,4.0,33664,23.0,1.0,both,...,High-range product,Busiest day,Busiest days,Most orders,12.0,Regular customer,NaN,NaN,NaN,NaN

In [23]:
ords_prods_merge.loc[ords_prods_merge['prices']>100, 'prices'] = np.nan

In [24]:
ords_prods_merge['prices'].max()

25.0

In [25]:
# exporting data
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared', 'orders_products_ready.pkl'))